 body {
            font-family: Arial, sans-serif;
            margin: 20px;
            background-color: grey;
            color: white;
            text-align: center;

        }
        #result {
            margin-top: 20px;
            font-weight: bold;
        }
        .container {
            max-width: 600px;
            margin: auto;
            background: red;
            padding: 20px;
            border-radius: 8px;
            text-align: center;
        }
